@tailwind base;
@tailwind components;
@tailwind utilities;


.background-gradient {
    background: radial-gradient(
      circle at top center,
      hsla(222, 80%, 60%, 0.5) 0%,
      hsla(222, 0%, 0%, 0) 50%,
      hsla(222, 0%, 0%, 0) 100%
    );
  }
  
  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
  }
}
@media (max-width: 639px) {
  .hide-tag {
    width: 200px;
  }
}
